html, body {
    margin: 0;
    padding: 0;
    background: url(img/table.png) greenyellow;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Play", sans-serif;
    color: whitesmoke;
    text-shadow: 1px 1px black;
}

.upper-container {
    display: flex;
    align-items: center;
}

#remaining-cards {
    margin-left: 2em;
}

#draw-cards, #new-deck {
    background-color: rgb(252, 219, 75);
    border: none;
    cursor: pointer;
    font-family: inherit;
}

#new-deck{
    margin: 1vh 0;
    padding: 2vh;
}

#draw-cards {
    font-size: 1.25rem;
    font-weight: 600;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 2.5vh 0;
}

#cards {
    margin: 5vh 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.card-slot {
    border: 1px solid black;
    height: 25vh;
    width: calc(25vh * 5/7);
    border-radius: 5px;
}

.card-slot:nth-child(1){
    margin-bottom: 10vh;
}

img.card {
    width: 100%;
    height: 100%;
}

#draw-cards:disabled {
    background-color: grey;
    color: thistle;
    cursor: not-allowed;
}

h3 {
    text-align: center;
}
