body {
    margin: 0;
    padding: 0;
    font-family: "Mulish", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #301c3d;
    background: linear-gradient(348deg,rgba(48, 28, 61, 1) 0%, rgba(115, 50, 50, 1) 50%, rgba(66, 46, 17, 1) 100%);
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
    transition: all 1s ease;
}

h1 {
    margin-top: auto;
}

button {
    margin-bottom: auto;
    margin-top: 7vh;
    cursor: pointer;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color:greenyellow;
    border: 1px solid darkgreen;
}

.activity-shown-h4 {
    font-size: 1.1em;
}

body.activity-shown-body {
    background: #EB5757;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #000000, #EB5757);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #000000, #EB5757); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

button:hover, button:focus {
    background-color: lawngreen;
}
